.navigationItem {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    transition: color 0.5s ease;
    padding: 0.25rem 0.75rem;
}

.navigationItem--selected {
    color: var(--text-primary);
}

.navigationItem:hover {
    color: var(--text-primary);
}