.button {
    color: var(--button-color);
    background-color: var(--button-background-color);
    padding: 0.5rem;
    transition: color ease 0.2s, background-color ease 0.2s;
}

.button--solid {
    --button-color: var(--bg-primary);
    --button-background-color: var(--text-primary);
    --button-color-hover: var(--bg-primary);
    --button-background-color-hover: rgb(215, 215, 215);
}

.button--default {
    --button-color: var(--text-secondary);
    --button-background-color: transparent;
    --button-color-hover: var(--text-primary);
    --button-background-color-hover: var(--bg-card-hover);
}

.button--rounded-100 {
    border-radius: 100%;
}

.button--rounded-medium {
    border-radius: 3rem;
}

.button--dark {
    --button-color: var(--text-primary);
    --button-background-color: rgba(0, 0, 0, 0.7);
    --button-color-hover: var(--text-primary);
    --button-background-color-hover: rgba(0, 0, 0, 0.7);
}

.button--disabled {
    opacity: 0.4;
}

.button--md {
    font-size: 1rem;
    line-height: 1rem;
}

.button:hover {
    background-color: var(--button-background-color-hover);
    color: var(--button-color-hover);
}