@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: black;
  --bg-card: #121212;
  --bg-card-hover: #ffffff12;
  --bg-card-hover-2: #1a1a1a;
  --text-primary: rgb(255, 255, 255);
  --text-secondary: rgb(179, 179, 179);
}

body,
html,
:root {
  height: 100%;
  background-color: var(--bg-primary);
  color-scheme: dark;
  color: var(--text-secondary);
  font-weight: bold;
}

.icon {
  width: 1.6rem;
  aspect-ratio: 1/1;
}

.icon--md {
  width: 1rem;
  overflow: hidden;
  aspect-ratio: 1/1;
}