.layout {
    display: grid;
    gap: 0.5rem;
    grid-template-areas:
        "navigation main"
        "userLibrary main"
        "player player"
    ;
    grid-template-columns: 3.3fr 7fr;
    grid-template-rows: 1fr 4fr 0.65fr;
    padding: 0.5rem;
    height: 100%;
}

.layout__main {
    position: relative;
    overflow: auto;
    grid-area: main;
    z-index: 20;
    scroll-timeline-name: --main-timeline;
    scroll-timeline-axis: block;
}

.layout__main-wrapper {
    padding-inline: 1rem;
}

.layout__main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 14rem;
    background-color: var(--color-green);
    background-image: linear-gradient(rgba(0,0,0,.6) 0,var(--bg-card) 100%),url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=);
    z-index: -10;
}

.layout>*:not(footer) {
    background-color: var(--bg-card);
    border-radius: 0.5rem;
}